/*
.button{
  background-color: hsl(200,100%,50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
  */


/*
.student{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 50%, 0.8);
}

.student p{
  margin: 0;
}
  */

/*
.welcome-message{
  font-size: 2.5em;
  background-color: hsl(120, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}  


.login-prompt{
  font-size: 2.5em;
  background-color: hsl(0, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}  
  */


/*
.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  margin-bottom:  10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: hsl(185, 100%, 50%);
}

.list-items li{
  font-size: 2em;
  list-style: none;
  color: hsl(0, 0%, 25%);
  text-align: center;
  margin: 0;
}

.list-items li:hover{
  color: hsl(0, 0%, 45%);
  cursor: pointer;
}
  */

  body{
    background-color: hsl(0, 0%, 10%);
  }

  .to-do-list{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
  }

  h1{
    font-size: 4rem;
    color: white;
  }

  button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }

  .add-button{
    background-color: hsl(125, 47%, 54%);
  }

  .add-button:hover{
    background-color: hsl(125, 47%, 44%);
  }

  

  .delete-button{
    background-color: hsl(10, 90%, 50%);
  }

  .delete-button:hover{
    background-color: hsl(10, 90%, 40%);
  }


  .move-button{
    background-color: hsl(207, 90%, 64%);
  }

  .move-button:hover{
    background-color: hsl(207, 90%, 54%);
  }

  input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: hsla(0, 0%, 0%, 0.5);
  }

  ol{
    padding: 0;
  }

  li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsl(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
  }

  .text{
    flex: 1;
  }

  .delete-button, .move-button{
    padding: 8px;
    font-size: 1.4 rem;
    margin-left: 10px;
  }
